<div class="popover fade">
    <div class="arrow"></div>
    <h3 class="popover-title">
        popover_template
    </h3>
    <div class="popover-content">
        <div>
            <video class='player' controls='controls' style="width: 200px;height: 200px;">
                <source src='http://www.w3school.com.cn/i/movie.ogg' type='video/mp4' >示例视频1</source>
            </video>
        </div>
        <div class="btn-group">
            <button class="btn" data-miss="popover" ng-click = "ok()">确定</button>
            <button class="btn" data-miss="popover" ng-click="when_close()">取消</button>
        </div>
    </div>
</div>